<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @sell.company.name %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @sell.user.email %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @sell.product.name %>
</p>

<p>
  <strong>Preço Total:</strong>
  <%= @sell.price_total %>
</p>

<%= link_to 'Edit', edit_sell_path(@sell) %> |
<%= link_to 'Back', sells_path %>
